# Strings and its methods.

In [1]:
st1='This is a string.'

In [2]:
st1[1]

'h'

In [3]:
st1[2:7]

'is is'

In [4]:
st1[4:]

' is a string.'

In [7]:
st1[-1]

'.'

In [8]:
len(st1)

17

In [10]:
st2=" This is a second string. "

In [11]:
print(st2.strip(' '))

This is a second string.

In [12]:
st2.lower()

' this is a second string. '

In [13]:
st2.upper()

' THIS IS A SECOND STRING. '

In [14]:
st3=' This is a third string.'

In [15]:
st3.replace('third','3')

' This is a 3 string.'

In [16]:
st4="hello , world."

In [17]:
st4.split(',')

['hello ', ' world.']

In [18]:
st5='This is present.'

In [20]:
'is' in st5

True

In [21]:
'not' not in st5

True

In [22]:
age=19
myage='my age is {}'.format(age)

In [23]:
print(myage)

my age is 19

# Lists and its methods:

In [24]:
list1=['A','B','C',1,2,3.0]

In [25]:
len(list1)

6

In [26]:
list1[2:4]

['C', 1]

In [27]:
list1.append('last')

In [28]:
print(list1)

['A', 'B', 'C', 1, 2, 3.0, 'last']

In [29]:
list1[3]

1

In [30]:
list1[4]=2.5
print(list1)

['A', 'B', 'C', 1, 2.5, 3.0, 'last']

In [31]:
for member in list1:
    print(member)

A
B
C
1
2.5
3.0
last

In [32]:
list1.pop()
print(list1)

['A', 'B', 'C', 1, 2.5, 3.0]

In [33]:
list1.remove(3.0)
print(list1)

['A', 'B', 'C', 1, 2.5]

In [34]:
del list1
print(list1)

NameError: name 'list1' is not defined

In [35]:
list2=['a','b','c',9,8,3]
list3=['apple','banana','grapes']
list2 + list3

['a', 'b', 'c', 9, 8, 3, 'apple', 'banana', 'grapes']

In [36]:
list4=list3.copy()
list4.append('mango')
print(list4)

['apple', 'banana', 'grapes', 'mango']

In [37]:
list2.extend(list4)

In [38]:
list2

['a', 'b', 'c', 9, 8, 3, 'apple', 'banana', 'grapes', 'mango']

In [41]:
list4.sort()
print(list4)

['apple', 'banana', 'grapes', 'mango']

In [42]:
list4.clear()

In [43]:
print(list4)

[]

# Tuple and its methods:

In [44]:
tp1=('a',)

In [45]:
type(tp1)

tuple

In [46]:
tp2=(1,2,4,2,3,7,8,9,2,1,5,6,2,1)
tp2.count(2)

4

In [47]:
tp2.index(7)

5

# Sets and its methods:

In [48]:
fruits={'apple','banana','orange','mango'}

In [49]:
fruits.add('cherry')
print(fruits)
fruits.update([1,2,4])
print(fruits)

{'apple', 'cherry', 'banana', 'mango', 'orange'}
{1, 2, 4, 'apple', 'cherry', 'banana', 'mango', 'orange'}

In [50]:
fruits.discard(4)
print(fruits)

{1, 2, 'apple', 'cherry', 'banana', 'mango', 'orange'}

In [51]:
names={'sam','jerry','tom'}

In [52]:
fruits.union(names)

{1, 2, 'apple', 'banana', 'cherry', 'jerry', 'mango', 'orange', 'sam', 'tom'}

In [53]:
friends={'sam','pavan','sunny'}
friends.intersection(names)

{'sam'}

In [54]:
names.clear()

In [55]:
names

set()

# Dictionary and its methods:

In [56]:
dict1={'name':'santosh','age':34,'city':'hyderabad'}

In [58]:
print(type(dict1))
dict1

<class 'dict'>

{'name': 'santosh', 'age': 34, 'city': 'hyderabad'}

In [63]:
print(dict1['name'])
dict1.get('city')

santosh

'hyderabad'

In [60]:
dict1['age']=45
print(dict1)

{'name': 'santosh', 'age': 45, 'city': 'hyderabad'}

In [64]:
for items in dict1:
    print(items)

name
age
city

In [66]:
for items in dict1.values():
    print(items)

santosh
45
hyderabad

In [67]:
for x,y in dict1.items():
    print(x,y)

name santosh
age 45
city hyderabad

In [68]:
dict1['salary']=45000
print(dict1)

{'name': 'santosh', 'age': 45, 'city': 'hyderabad', 'salary': 45000}

In [69]:
dict1.popitem()
print(dict1)

{'name': 'santosh', 'age': 45, 'city': 'hyderabad'}

# Completed..Thank you.